<html>
  <head>
		<title>SE Assessment Project App - Returned User Data</title>
  </head>
  <body>
 
		<h3> User Data </h3>

		<div><b>Provider:</b> <%= @authdata["providerName"] %></div>
		<div><b>Name:</b> <%= @authdata["displayName"] %></div>
		<div><b>Email:</b> <%= @authdata["email"] %></div>
		
  </body>
</html>